/*Selectores básicos*/
body {
	font-family: verdana;
}
body > header > h1 {
	color:blue;
	text-align:center;
}

header > img {
	width:10%;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.elemento-menu{
	display:inline;
	list-style-type:none;
}
ul[id*="menu"]{
	text-align:center;
}
/*selectores avanzados*/
footer[id*="footer"] {
	text-align:center;
}
h3+h4{
	font-style:italic;
	color:green;
}
h5 ~ p{
	font-size:8pt;
}
h5[title$="small"]{
	text-decoration: underline;
}
li[name='fork']{
	list-style-image:  url("https://images-eu.ssl-images-amazon.com/images/I/414j3RoOwkL._SS40_.jpg");
}

/*MANTENGA COMENTADA ESTA PARTE HASTA EL FINAL*/
/*section#left {
	float:left;
	width:70%;
	
}
aside#right {
	float:right;
	width:25%;
}

footer#footer {
	clear:both;
}*/